/*
File: child.css
Author: Jonathan Kissam, jk@webskillet.com

This file includes overwrites for the font, color and spacing properties you'll most likely want to override from the webskillet15 parent theme.  Otherwise, it is mostly an empty table of contents

Table of contents:
1. Framework
2. Typography
 2.1 Body
 2.2 Headers
 2.3 Text
 2.4 Lists
 2.5 Links
 2.6 Images
 2.7 Tables
 2.8 Forms
3. Header
4. Navigation
5. Highlighted
6. Content
 6.1 Messages
 6.2 Admin tabs
 6.3 Nodes
 6.4 Fields
 6.5 Profiles
 6.6 Comments
 6.7 content formatting for specific pages
 6.7.1 search form & search results page
7. Sidebars
8. Pre-footers and Footer
9. Media Queries (replicate same structure)
10. IE Fixes
*/

/**
 * 1. Framework
 */

#header-wrapper, #navigation-wrapper, #main-wrapper, #footer-wrapper { padding-top: 10px; padding-bottom: 10px; }
#main-wrapper { padding-top: 0; }
.container { max-width: 980px; }
.floatleft { float: left; margin-right: 10px; }
.floatright { float: right; margin-left: 10px; }
/*#page { max-width: 653px; }
#page-adults-courses #page, .front #page, .course-category-page #page { max-width: inherit; }*/

/**
 * 2. Typography
 */

/* 2.1 Body */
body { color: #333; font: 93.75%/1.6em Georgia, serif; }

/* 2.2 Headers */
h1#page-title { text-align: center; margin-top: 10px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 1em; font-family: Georgia, serif; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.333em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.066em; font-weight: bold; }
h5, h6 { font-size: 0.8em; font-weight: bold; margin-bottom: 0; }

/* 2.3 Text */

/* 2.4 Lists */

/* 2.5 Links */
a { text-decoration: none; }
a:link { color: #666632; }
a:visited { color: #666632; }
.no-touch a:hover { color: #4D4D24; }
a:active { color: #666632; }

/* 2.6 Images */

/* 2.7 Tables */
tr.even, tr.odd { background-color: #F6F4F4; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview, .calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff { background: #F6F4F4; }

/* 2.8 Forms */
.form-item .description, .filter-guidelines { color: #999; }
input, select, textarea { border: 1px solid #ccc; color: #333; font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; box-shadow: 0 1px 1px #eee inset; -moz-box-shadow: 0 1px 1px #eee inset; -webkit-box-shadow: 0 1px 1px #eee inset; }
input:focus, select:focus, textarea:focus { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-color: #333; }
fieldset { border-color: #ccc; }
legend { font: 1.333em Arial,Helvetica,'Helvetica Neue',sans-serif; color: #333; border: 1px solid #ccc; }
.form-type-checkbox label, .form-type-radio label { color: #999; }
input.form-checkbox:checked + label, input.form-radio:checked + label { color: #333; }
input[type="submit"], button, a.button {
  background: #dddddd; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ededed');
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ededed));
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ccc;
}
.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: #ededed;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dddddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dddddd));
  background: -moz-linear-gradient(top,  #ededed,  #dddddd);
  color: #000;
}
div.error, .error { color: #cc0000; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }

input[type="submit"], button, a.button {
  background: rgb(102, 102, 50);
  color: white;
  text-shadow: none;
  border: none;
  border-radius: 0;
}

/**
 * 3. Header
 */
#header-wrapper { background-color: #666632; padding: 0; }
a#logo { width: 123px; }
@media screen and (min-width:768px) { #header { background-image: url(../images/760-banner.jpg); background-repeat: no-repeat; } a#logo { position: relative; left: 122px; display: block; } }
@media screen and (min-width:992px) {
	#header { background-image: url(../images/980-banner.jpg); }
  a#logo { width: 123px; display: block; position: relative; left: 224px; }
}
#site-name-slogan { height: 0; text-indent: -999em; }
/**
 * 4. Navigation
 */
#navigation-wrapper { background-color: #2E2115; color: #A4988B; }
#navigation li ul.main-menu li { line-height: 40px; }

/* om-maximenu */
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf,
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf .om-link { min-height: 40px; }
.om-maximenu-no-style .om-maximenu-middle-right { padding: 1em; }
.om-maximenu-no-style .om-maximenu-middle { background-color: rgb(46, 33, 21); }

/**
 * 5. Highlighted
 */

/**
 * 6. Content
 */

/* 6.1 Messages */

/* 6.2 Admin tabs */

/* 6.3 Nodes */

/* social media links */

/* 6.4 Fields */

/* 6.5 Profiles */

/* 6.6 Comments */

/* 6.7 content formatting for specific pages */

/* 6.7.1 search form & search results page */


/**
 * 7. Sidebars
 */

.sidebar .block { margin-bottom: 2em; }

/**
 * 8. Pre-footers, utility and footer
 */

/* 8.1 Prefooter 1 */

/* 8.2 Prefooter 2 */

/* 8.3 Utility */

/* 8.4 Footer */
#prefooter2-wrapper, #footer-wrapper{ background-color: #241A10; }
#prefooter2 { color: #c0c0c0; background-image: url(../images/snail.jpg); background-repeat: no-repeat; background-position: 100% 85%; padding-top:30px; }
#prefooter2 a { color:#c0c0c0; }
#prefooter2 a:hover { color: #DFDFDF; }
#prefooter2 .block-webform header { display: none; }
#prefooter2 input, #prefooter2 select, #prefooter2 textarea { background-color: rgba(255, 255, 255, 0.4); }

/**
 * 9. Media Queries
 */

/* 9.1 Larger than a Samsung galaxy phone in portrait mode */
@media screen and (min-width: 361px) {

}

/* 9.2 Larger than an iPhone in landscape mode */
@media screen and (min-width: 481px) {

}

/* 9.3 iPad in portrait mode or larger */
@media screen and (min-width: 768px) {

	/* 4. Navigation */
	/* if you want to display mobile menu on tablets, remove all the below from child.css,
	   copy entire style.css from parent theme to child theme,
	   add style.css in child theme .info file,
	   and move the navigation section from the tablet query to the desktop query. */
	#navigation-wrapper { padding-bottom: 0; }
  /*.not-front #navigation-wrapper, .not-front #navigation { height: 40px; }*/
	#navigation ul { height: 40px; line-height: 40px; }
	#navigation ul.main-menu li { margin: 5px 0; padding: 0; height: 30px; line-height: 30px; }
  #navigation li ul.main-menu li { line-height: 25px; }
	#navigation ul.main-menu li a { padding: 0 1em; }
	#navigation ul.main-menu li.first a { padding-left: 1em; }
	#navigation ul.main-menu li.first { border-left: 0; }

	/* Handles drop-down menus
	top-margin = bottom-margin of parent li; top = height of parent li - top-margin */
	#navigation li ul.main-menu { top: 25px; width: 200px; margin: 5px 0 0; padding: 0.5em; background: #fff; }
	#navigation li ul.main-menu li a, #navigation li ul.main-menu li.first a { padding: 5px 0.5em; }

	/* om-maximenu */
  #om-maximenu-main-menu { width: 582px; margin: 0 auto; }
  .om-maximenu ul.om-menu { height: 40px; line-height: 40px; }
	.om-maximenu ul.om-menu li.om-leaf .om-link { padding: 0 1em; }
	.om-maximenu ul.om-menu li.om-leaf.first .om-link { padding-left: 1em; }
  a.om-link, a.om-link.active, span.om-link { color: #B2B258; font-size: 1.1em; }
  a.om-link:hover, span.om-link:hover, .open span.om-link { color: #A4988B; }

  .om-maximenu-no-style .leaf-youth .om-maximenu-content { left: -64px; }
  .om-maximenu-no-style .leaf-teens .om-maximenu-content { left: -86px; }
  .om-maximenu-no-style .leaf-adults .om-maximenu-content { left: -218px; }
  .om-maximenu-no-style .leaf-educators .om-maximenu-content { left: -60px; }
  .om-maximenu-no-style .leaf-about .om-maximenu-content { left: -83px; }
  .om-maximenu-content a { color: #A4988B; }
  .om-maximenu-content a:hover { color: #666632; }
  .om-maximenu-content h3 { color: grey; }

  .om-maximenu-no-style .om-maximenu-middle-right { padding: 0; }
  #navigation .om-maximenu-content .block { float: left; margin: 0; }
  .om-maximenu-content h3.title { background-color: rgb(30, 22, 14); }
  .om-maximenu-content h3.title { padding: 0 60px; margin: 0; }
  .om-maximenu-content .block:nth-child(2) h3.title { padding-right: 72px; }
  .leaf-youth .om-maximenu-content .block:nth-child(2) h3.title { padding-right: 154px; }
  .om-maximenu-content .block .content { padding: 5px 60px 10px; }
  

	.om-maximenu-no-style .om-maximenu-content { top: 40px; }
	.om-maximenu .leaf-youth .om-maximenu-content, .om-maximenu .leaf-adults .om-maximenu-content { width: 560px; }

	/* fix bug of menu's not displaying -- from jk 13may2015, and may be fixed in based theme in future */ 
	#navigation .om-maximenu li .block-menu ul.main-menu { top: auto; width: auto; margin: 0; padding: 0; background: transparent; left: auto; float: none; position: relative; }

}

/* 9.4 full screen */
@media screen and (min-width: 992px) {

}

/* 9.5 wide screen */
@media screen and (min-width: 1200px) {

}



/**
 * 10. IE fixes
 */


/**
 * Homepage
 */
@media screen and (min-width: 768px) { .front section#page { height: 448px; } }
@media screen and (min-width: 992px) { .front section#page { height: 583px; } }
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.33);
  padding: 8px 0 1px;
}
.flex-caption { display: none; }
.flexslider a { color: #333; }
.flexslider a:hover { color: black; }


/**
 * CHEKCOUT PAGES
 */

.page-checkout #navigation-wrapper { height: 40px; }
.page-checkout #navigation { display: none; }
#block-commerce-checkout-progress-indication ol { margin: 0; }
#block-commerce-checkout-progress-indication { position: relative; top: -90px; color: #858557/*B2B258*/; background-color: #44481B; height: 27px; padding-top: 1px; width: 730px; margin: 0 auto; }
#block-commerce-checkout-progress-indication li { background-color: #2E2115; position: relative; margin: 0 8px; list-style-type: none; text-align: center; padding: 0 10px; }
#block-commerce-checkout-progress-indication li:before { content: ""; position: absolute; left: -13px; bottom: 0px; width: 0; height: 0; border-left: 13px solid transparent; border-top: 12px solid #2E2115; border-bottom: 12px solid #2E2115; }
#block-commerce-checkout-progress-indication li:after { content: ""; position: absolute; right: -13px; width: 0; height: 0; border-left: 13px solid #2E2115; border-top: 12px solid transparent; border-bottom: 12px solid transparent; }
#block-commerce-checkout-progress-indication li.cart.visited.first { border: none; margin-left: 3px; }
#block-commerce-checkout-progress-indication li.cart.visited.first:before { border: none; }
#block-commerce-checkout-progress-indication li.complete.last:after { border: none; }
#block-commerce-checkout-progress-indication li.complete.last { border: none; margin-right: 1px; }
.commerce-checkout-progress li.active { font-weight: normal; }
ol.inline.commerce-checkout-progress li { width: inherit; }
li.cart.visited.first { width: 60px; }
li.roots_reg_children_info, li.active.roots_reg_children_info, li.roots_reg_children_info.visited { max-width: 141px; }
li.roots_reg_sign_up, li.roots_reg_sign_up.visited { max-width: 109px; }
li.checkout, li.checkout.visited { max-width: 83px; }
li.review, li.review.visited { max-width: 109px; }
li.complete.last, li.active.complete.last { width: /*160*/147px; }
#block-commerce-checkout-progress-indication li.active { color: rgb(195, 195, 176); }


/**
 * PROGRAM PAGES
 */

.node-program .group-header {
  background-color: rgba(250, 250, 250, 1);
  padding: 5px;
  margin-bottom: 15px;
  /*border: solid 1px rgba(102, 102, 50, 0.41);*/
  font-size: .9em;
}
.group-header .field-label {
  color: rgb(102, 102, 50);
}
.node-program .group-header p { margin: 0; }
.node-program .group-header .field {
  margin: 0;
}
.node-program .taxonomy-term-description { margin: 0; }

.ds-2col-stacked > .group-left{ width: 60%; }
.field-name-field-event-image { display: none; }

.ds-2col-stacked > .group-right { width: 36%; font-size: .9em; }
.group-right .field { margin: 0; }
.group-right .field .field-label, .group-right label {
  font-weight: normal;
  color: rgb(108, 108, 108);
}
.field.field-name-commerce-price.field-type-commerce-price.field-label-inline.clearfix {
  width: 45%;
  float: left;
  padding: 5px;
}
.commerce-product-field-commerce-recurring-ini-price { border: solid 1px; border-bottom: none; padding-top: 5px; }
.field.field-name-field-register {
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  padding: 0 5px 5px;
}
.commerce-product-field-commerce-recurring-ini-price, .field.field-name-field-register { border-color: rgba(102, 102, 50, 0.68); }
.group-right input[type="submit"] { position: relative; left: 150px; }
.group-right .form-item { margin: 0 0 10px; }
.group-right select { background: whitesmoke; }
.field-name-registration-option p { margin: 10px 0 0; }
@media screen and (max-width: 767px) {
.ds-2col-stacked > .group-left, .ds-2col-stacked > .group-right { width: 100%; }
}
@media screen and (min-width: 768px) {
.node-program .group-header, .node-long-term-program .group-header { width: 36%; margin: 0; position: absolute; right: 10px; height: 155px; }
.node-type-program .ds-2col-stacked > .group-right, .node-type-long-term-program .ds-2col-stacked > .group-right  { margin-top: 165px; }
.field-name-field-event-image {
  width: 220px;
  float: left;
  margin: 0 20px 10px 0;
  display: block;
}
}

/**
 * BLOG
 */
.view-blog { margin-top: 15px; }
section#block-views-blog-block-2 { margin-top: 14px; }

